@page
@model StudyFriend.Pages.Topics.IndexModel

@{
    ViewData["Title"] = "Topics";
}

<div class="jumbotron text-center">
    <h1>Topics</h1>    
    <hr />
    <a class="btn btn-primary" asp-page="Create">Add a new topic</a>
</div>


<div class=" row list-group">
    @foreach (var item in Model.Topic)
    {
        <div class="col-md-4">
            <div class="thumbnail text-center">
                <h3>
                    <a asp-page="./Details" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Name)
                     </a>
                </h3>
                <hr />
                <div>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
