@page
@model StudyFriend.Pages.Topics.IndexModel

@{
    ViewData["Title"] = "Topics";
}


    <h2>Topics</h2>    
    <a asp-page="Create">Add a new topic</a>
    <hr />



<div class="row">
    @foreach (var item in Model.Topic)
    {
        <div class="col-md-4">
            <div class="card text-center p-3 pb-0 mt-3">
                <h3>
                    <a asp-page="./Details" asp-route-id="@item.TopicID">
                        @Html.DisplayFor(modelItem => item.Name)
                     </a>
                </h3>
                <hr />
                <div class="small mt-0">
                    <a asp-page="./Edit" asp-route-id="@item.TopicID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TopicID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
