@page
@model StudyFriend.Pages.Answers.EditModel

@{
    ViewData["Title"] = "Edit Answer";
}

<h1>
    <small>Edit your answer to...</small>
    <br />
    @Model.Answer.Question.Body
</h1>
<hr />
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Answer.AnswerID" />
            <div class="form-group">
                <label asp-for="Answer.Body" class="control-label"></label>
                <textarea rows="5" asp-for="Answer.Body" class="form-control"></textarea>
                <span asp-validation-for="Answer.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Questions/Details" asp-route-id="@Model.Answer.QuestionID">Back to Question</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Answer.AnswerID">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
