<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-block">
        <b>Version</b>0.01
    </div>
    Made with <span style="color: #e25555;">&hearts;</span> by <a href="https://www.linkedin.com/in/rondineleg">Rondinele Guimaraes</a> and <a href="http://adminlte.io">AdminLTE.io</a>.
</footer>