@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<address>
    <strong>Location:</strong>
    Greater NYC Area
</address>

<address>
    <strong>Support:</strong> <a href="mailto:davecrands@gmail.com">davecrands@gmail.com</a><br />    
</address>
