@page
@model StudyFriend.Pages.Topics.IndexModel

@{
    ViewData["Title"] = "Topics";
}


<h2>Topics</h2>    
<a asp-page="Create">Add a new topic</a>
<hr />

<form class="form-inline">
    <p>
        Topic: <input type="search" asp-for="SearchString" class="form-control mb-2"/>
               <button type="submit" class="btn btn-primary mb-2">Filter</button>
    </p>
</form>


<section class="row">
    @foreach (var item in Model.Topic)
    {
        <div class="col-md-4 mb-4">
            <div class="card text-center p-3 pb-0">
                <h3>
                    <a asp-page="./Details" asp-route-id="@item.TopicID">
                        @Html.DisplayFor(modelItem => item.Name)
                     </a>
                </h3>
                <hr />
                <div class="small mt-0">
                    <a asp-page="./Edit" asp-route-id="@item.TopicID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TopicID">Delete</a>
                </div>
            </div>
        </div>
    }
</section>
